{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <h1>bienvenu dans cette concesion m.</h1>

</div>
{% endblock %}
